	.container-fluid{
		position: fixed;
		right: 0;
		left:0;
		min-height: 70px;
		background-color: #1e2133;
		z-index: 1;
	}
	.menu-bar{
		line-height: 480%;
	}
	ul{
		list-style: none;
		margin: 0 15px;
		padding: 0;
	}
	.menu-bar ul li{
		display: inline;
		margin-right: 10px;
	}
	.menu-bar ul>li a{
		display: inline;
		font-weight: 700;
		margin-right: 10px;
		text-decoration: none;
		color: #fff;
	}
	#toggle-menu{
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		background-color: #5cb85c;
		display: none;
		min-width: 20%;
		z-index: 1000;
	}
	#toggle-menu ul{
		padding-top: 80px;
		padding-left: 10px;
	}
	#toggle-menu ul li{
		font-weight: 700;
		font-size: 2em;
		line-height: 170%;
	}
	#toggle-menu a{
		color: #fff;
	}
	.triggered{
		width: 80%;
		transition: ease-out(0.5s);
	}
	button{
		border-color: none;
	}
	.slideshow{
		position: relative;
		width: 100%;
		padding-bottom: 100vh;
		top: 0px;
		bottom: 70px;
		left: -15px;
		z-index: 0;
		list-style: none;
	}
	.slideshow li{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		opacity: 0;
		animation: imageAnimation 50s linear infinite;
	}
	.slideshow li:nth-child(1) { 
	  	background-image: url(img/1.jpg); 
	}
	.slideshow li:nth-child(2) { 
	  	background-image: url(img/2.jpg);
	  	animation-delay: 10s; 
	}
	.slideshow li:nth-child(3) { 
	  	background-image: url(img/3.jpg);
	 	 animation-delay: 20s; 
	}	
	.slideshow li:nth-child(4) { 
	 	background-image: url(img/4.jpg);
		animation-delay: 30s; 
	}
	.slideshow li:nth-child(5) { 
	  	background-image: url(img/5.jpg);
	  	animation-delay: 40s; 
	}
	#landing{
		position: absolute;
		z-index: 1;
		text-align: center;
		top: 35vh;
		width: 100%;
		color: #fff;
	}
	@keyframes imageAnimation { 
	  0% { 
	    opacity: 0; 
	    animation-timing-function: ease-in;
	  }
	  10% {
	    opacity: 1;
	    animation-timing-function: ease-out;
	  }
	  20% {
	    opacity: 1
	  }
	  30% {
	    opacity: 0
	  }
	}
	.specialization .col-md-3, #recent-work .col-md-4{
		margin: 0;
		padding: 0;
	}
	.sp, .rcc {
		padding-bottom: 100%;
		width: 100%;
		transition: background-color 0.7s;
	}
	.sp h1, .rcc h1 {
		padding: 0 18px;
		opacity: 0;
		color: #fff;
		position: absolute;
		top: 20%;
		bottom: 20%;
		width: 100%;
		text-align: center;
		transition: opacity 0.7s;
	}
	.sp:hover, .rcc:hover{
		background-color: black;
		opacity: 0.8;
	}
	.sp:hover h1, .rcc:hover h1{
		opacity: 1;
	}